body,
html {
    padding: 0;
    margin: 0;
}

.slider {
    width: 100%;
    height: 50vh;
}

.slider__container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.slider__list {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.slider__buttons > * {
    top: 48%;
    cursor: pointer;
}

.slider__button:first-child {
    position: absolute;
    left: 0;
    z-index: 9;
}

.slider__button:last-child {
    position: absolute;
    right: 0;
    z-index: 9;
}

.slider__list li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    font-weight: 500;
    font-size: 300%;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;

}

.slider__list li:first-child {
  background-color: #52acff;
  background-image: linear-gradient(180deg, #52acff 25%, #ffe32c 100%);
}

.slider__list li:nth-child(2) {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}

.slider__list li:nth-child(3) {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}

.slider__list li:last-child {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.slider__list li.active {
    z-index: 1;
    opacity: 1;
}